body { 
  margin:0px; 
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.5;
}

input{
  margin: 0;
	padding: 0;
	background: none;
	border: 1px solid black;
	border-radius: 0;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

p{
  font-size: 14px;
  color: #2d2d2d
}

img {
  width: 100%;
}

a {
    text-decoration: none;
    color: #2d2d2d
  }
  
  li, nav ul, ol, ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
